/* 
////////////////////////////
FONTS
////////////////////////////
*/

/* main font  */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');


/*
////////////////////////////
General Border-Box reset 
////////////////////////////
*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
////////////////////////////
GLOBAL CSS
////////////////////////////
*/

/*
=============== 
Variables
===============
*/

:root {
  

  /* darkest grey - used for headings */
  --clr-grey: #24232C;
  --clr-grey-light: #817D92;
  --clr-white: #E6E5EA;
  --clr-black: #18171F;
  --clr-green: #A4FFAF;
  --clr-red: #F64A4A;
  --clr-orange: #FB7C58;
  --clr-yellow: #F8CD65;
  
  
  --transition: all 0.5s ease-out;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
}
html,
body {
  overflow-x: hidden;
  background-color: var(--clr-black);
  color: var(--clr-white);
}
body {
  font-family: 'JetBrains Mono', monospace;
  /* line-height: 1.5; */
  font-size: 18px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}


/* 
////////////////////////////
STYLES
////////////////////////////
*/

.main-section{
  height: 100vh;
  width: 100vw;
  padding:3.5rem 1rem ;
}

.password-component{
  text-align: center;
}
.password-component h4{
  padding: 1rem;
  text-align: center;
}

.password-result{
  height: 3.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--clr-grey);
}

.password-result span{
float: left;
height: 1.7rem;
}
.password-result button{
  float: right;
}

.password-generator{
  padding: 1rem;
  background-color: var(--clr-grey);
}

.length-selector{
  height: 3.7rem;
  margin-bottom: 2rem;
  text-align: left;
  text-transform: capitalize;
}
.length-selector span{
  float: right;
}
.length-selector input{
  width: 100%;
  padding: 1rem;
  background-color: var(--clr-black);
  color: var(--clr-green);
}

.checkbox-group{
  height: 2.5rem;
  font-size: 1.16rem;
  text-align: left;
}

.checkbox-group input{
  float:left;
  display: block;
  margin-right: 0.5rem;
  margin-top: 0.4rem;
  /* TO DO   
  borde blanco
  background negro
  */
}
.checkbox-group input[selected]{
  background-color: var(--clr-green);
  /* TO DO   
  borde y fondo verde
  color negro para el check
  */
}

.password-generator_footer{
  padding: 1rem;
  background-color: var(--clr-grey);
}

.strength-level{
  height: 3.1rem;
  padding: .7rem;
  margin-bottom: 1rem;
  background-color: var(--clr-black);
}
.strength-level p{
  float: left;
  margin-top: 0.2rem;
  font-size: 0.8rem;
}
.strength-level span{
float: right;
}
.strength-level i{
 color: var(--clr-yellow);
}
.generate-button{
  height: 3.1rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-style: none;
  font-weight: 700;
  color:var(--clr-grey) ;
  background-color: var(--clr-green);
}
